<%- include('layout/Header',{ 
    title: 'Página Inicial'
}) %>

<%- include('layout/NavBar') %>
    
    <div class="container container-top">
        <%= title %> <br>
        <%= userOnline %> <br>
    </div>
    
<%- include('layout/Footer') %>