<%- include('layout/Header',{ 
    title: 'Página Inicial'
}) %>

<%- include('layout/NavBar') %>
    
    <div class="container container-top">
        <%= title %> <br>
        <% if(userOnline != ""){ %> 
            <h4>Olá <%= userOnline.split('@')[0] %> </h4>  
        <% } %> 
        
    </div>
    
<%- include('layout/Footer') %>